/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
header {
  background: url(/img/background__header.png) no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}
/* line 12, ../sass/style.scss */
header .header__contacts {
  display: flex;
  align-items: center;
  height: 54px;
  background: rgba(0, 0, 0, 0.31);
  color: #FFF;
  margin: auto;
}
/* line 19, ../sass/style.scss */
header .header__contacts .contacts_social {
  width: 1280px;
  display: flex;
  justify-content: flex-end;
  padding: 0 4%;
  margin: auto;
}
/* line 25, ../sass/style.scss */
header .header__contacts .contacts_social .contacts {
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
}
/* line 30, ../sass/style.scss */
header .header__contacts .contacts_social .contacts .cellphones {
  display: flex;
}
/* line 32, ../sass/style.scss */
header .header__contacts .contacts_social .contacts .cellphones .cellphone {
  font-family: Gilroy;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  padding: 0 24px;
}
/* line 47, ../sass/style.scss */
header .header__contacts .contacts_social .contacts .social {
  position: absolute;
  top: 5px;
  right: 0;
}
/* line 52, ../sass/style.scss */
header .header__contacts .contacts_social .contacts .social ul li {
  float: left;
  margin: 0 0 0 22px;
}
/* line 61, ../sass/style.scss */
header .bloc_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 80px;
  margin: auto;
  padding: 0 4%;
}
/* line 70, ../sass/style.scss */
header .bloc_nav .logo a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #FF9900;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 81, ../sass/style.scss */
header .bloc_nav nav {
  width: 600px;
}
/* line 83, ../sass/style.scss */
header .bloc_nav nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* line 91, ../sass/style.scss */
header .bloc_nav nav ul li a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 0.07em;
}
/* line 101, ../sass/style.scss */
header .bloc_nav nav ul li a:hover {
  color: #FF9900;
  border-bottom: 3px solid #FF9900;
}
/* line 109, ../sass/style.scss */
header .bloc_nav button {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FF9900;
  background: none;
  border: 2px solid #FF9900;
  box-sizing: border-box;
  padding: 8px 11px;
  cursor: pointer;
}
/* line 127, ../sass/style.scss */
header .bloc_nav button:hover {
  border: 2px solid #FF9900;
}
/* line 131, ../sass/style.scss */
header .bloc_nav #mobile-menu {
  display: none;
}
/* line 136, ../sass/style.scss */
header .content {
  margin-top: 136px;
  margin-bottom: 248px;
}
/* line 139, ../sass/style.scss */
header .content h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
/* line 149, ../sass/style.scss */
header .content p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 29px 0 71px;
}
/* line 160, ../sass/style.scss */
header .content button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  background: #FF9900;
  border: none;
  padding: 11px;
  cursor: pointer;
}
/* line 175, ../sass/style.scss */
header .our_perevagis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 169px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(26px);
  padding: 0 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.46);
}
/* line 184, ../sass/style.scss */
header .our_perevagis .perevagi {
  width: 15%;
  position: relative;
  display: flex;
  align-items: center;
}
/* line 189, ../sass/style.scss */
header .our_perevagis .perevagi p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: 90%;
}
/* line 199, ../sass/style.scss */
header .our_perevagis .perevagi svg {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 920px) {
  /* line 209, ../sass/style.scss */
  header .header__contacts {
    display: none;
  }
  /* line 213, ../sass/style.scss */
  header nav {
    display: none;
  }
  /* line 217, ../sass/style.scss */
  header #order-a-call {
    display: none;
  }
  /* line 221, ../sass/style.scss */
  header .bloc_nav {
    display: flex;
    background: #0000004a;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 80px;
    margin: auto;
    padding: 0 4%;
  }
  /* line 230, ../sass/style.scss */
  header .bloc_nav #mobile-menu {
    display: block;
    border: none;
    font-size: 35px;
    padding: 0;
  }
  /* line 237, ../sass/style.scss */
  header .our_perevagis {
    padding: 0 20px;
  }
  /* line 239, ../sass/style.scss */
  header .our_perevagis .perevagi {
    width: 19%;
  }
}
@media only screen and (max-width: 769px) {
  /* line 248, ../sass/style.scss */
  header .our_perevagis {
    flex-flow: column;
    padding: 30px 20px;
    background: black;
    height: auto;
  }
  /* line 253, ../sass/style.scss */
  header .our_perevagis .perevagi {
    width: 70%;
    height: 120px;
  }
}
/* line 261, ../sass/style.scss */
h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900;
}

/* line 272, ../sass/style.scss */
h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
}

/* line 282, ../sass/style.scss */
.about_us {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
/* line 287, ../sass/style.scss */
.about_us .blokc-left {
  width: 37%;
  background: url(/img/bsckground__about_us.png) no-repeat bottom right;
  block-size: 100%;
  height: 754px;
  position: relative;
}
/* line 293, ../sass/style.scss */
.about_us .blokc-left .experience {
  width: 238px;
  display: inline-block;
  background: #FFB800;
  mix-blend-mode: normal;
  padding: 34px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 302, ../sass/style.scss */
.about_us .blokc-left .experience .number_of_years {
  font-size: 55px;
}
/* line 304, ../sass/style.scss */
.about_us .blokc-left .experience .number_of_years span {
  font-size: 70px;
  color: #FFF;
}
/* line 309, ../sass/style.scss */
.about_us .blokc-left .experience span {
  font-size: 70px;
  color: #FFF;
}
/* line 314, ../sass/style.scss */
.about_us .blokc-left .experience p {
  font-size: 36px;
  color: #FFF;
}
/* line 320, ../sass/style.scss */
.about_us .blokc-right {
  width: 63%;
  background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
  padding: 148px 10% 0 187px;
}
/* line 325, ../sass/style.scss */
.about_us .blokc-right h2 {
  color: #000000;
  margin-bottom: 27px;
}
/* line 330, ../sass/style.scss */
.about_us .blokc-right p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #7C7C7C;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
  /* line 345, ../sass/style.scss */
  .about_us .blokc-right {
    width: 63%;
    background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
    padding: 148px 10% 0;
  }
}
@media only screen and (max-width: 769px) {
  /* line 354, ../sass/style.scss */
  .about_us {
    flex-flow: column;
  }
  /* line 356, ../sass/style.scss */
  .about_us .blokc-left {
    background-size: 100%;
    block-size: 100%;
    height: 210px;
    width: 100%;
    position: absolute;
    background: none;
  }
  /* line 364, ../sass/style.scss */
  .about_us .blokc-right {
    width: 100%;
    background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
    padding: 148px 10% 62px;
  }
}
@media only screen and (max-width: 574px) {
  /* line 374, ../sass/style.scss */
  .about_us .blokc-left {
    display: none;
  }
  /* line 378, ../sass/style.scss */
  .about_us .blokc-right {
    padding: 100px 10% 45px;
  }
}
/* line 384, ../sass/style.scss */
.stages_of_work {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  flex-flow: column;
  background: #000000;
  padding: 65px 168px 126px;
  color: #ffffff;
}
/* line 393, ../sass/style.scss */
.stages_of_work .stages_numbers {
  display: flex;
  justify-content: space-between;
}
/* line 396, ../sass/style.scss */
.stages_of_work .stages_numbers .stage {
  width: 160px;
}
/* line 398, ../sass/style.scss */
.stages_of_work .stages_numbers .stage p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
/* line 407, ../sass/style.scss */
.stages_of_work .stages_numbers .stage_number {
  width: 66px;
  height: 66px;
  margin-top: 95px;
  margin-bottom: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
}
/* line 416, ../sass/style.scss */
.stages_of_work .stages_numbers .stage_number p {
  border-radius: 50%;
  border: 20px solid transparent;
  text-align: center;
  width: 100%;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
}

@media only screen and (max-width: 750px) {
  /* line 433, ../sass/style.scss */
  .stages_of_work {
    padding: 65px 4% 76px;
  }
  /* line 435, ../sass/style.scss */
  .stages_of_work h4, .stages_of_work h2 {
    text-align: center;
  }
  /* line 438, ../sass/style.scss */
  .stages_of_work .stages_numbers {
    flex-flow: column;
    margin-top: 40px;
  }
  /* line 441, ../sass/style.scss */
  .stages_of_work .stages_numbers .stage {
    display: flex;
    align-items: center;
    width: 100%;
  }
  /* line 445, ../sass/style.scss */
  .stages_of_work .stages_numbers .stage .stage_number {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
  }
  /* line 449, ../sass/style.scss */
  .stages_of_work .stages_numbers .stage .stage_number p {
    font-size: 40px;
  }
  /* line 453, ../sass/style.scss */
  .stages_of_work .stages_numbers .stage p {
    font-size: 18px;
  }
}
/* line 461, ../sass/style.scss */
.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
  background: url(/img/background__portfolio.png) no-repeat 260px bottom;
}
/* line 466, ../sass/style.scss */
.portfolio h4, .portfolio h2 {
  text-align: center;
}
/* line 470, ../sass/style.scss */
.portfolio .works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
/* line 475, ../sass/style.scss */
.portfolio .works .about_the_project {
  width: 41%;
  margin: 0 20px 0 150px;
}
/* line 478, ../sass/style.scss */
.portfolio .works .about_the_project h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000;
}
/* line 488, ../sass/style.scss */
.portfolio .works .about_the_project p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: 14px;
}
/* line 497, ../sass/style.scss */
.portfolio .works .about_the_project p span {
  font-weight: 700;
}
/* line 500, ../sass/style.scss */
.portfolio .works .about_the_project p sup {
  font-size: 12px;
}
/* line 506, ../sass/style.scss */
.portfolio .works .our_works__slider {
  width: 48%;
  display: flex;
}
/* line 509, ../sass/style.scss */
.portfolio .works .our_works__slider .imgs_slider {
  margin-right: 3px;
  width: 102px;
}
/* line 514, ../sass/style.scss */
.portfolio .works .our_works__slider .block_slid {
  display: flex;
  flex-flow: column;
  width: 865px;
  float: right;
}
/* line 520, ../sass/style.scss */
.portfolio .works .our_works__slider .block_slid .img_slider img {
  width: 100%;
}
/* line 526, ../sass/style.scss */
.portfolio .works .our_works__slider .slider_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #FFB800;
  height: 94px;
}
/* line 533, ../sass/style.scss */
.portfolio .works .our_works__slider .slider_nav ul .tns-nav-active {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(255, 153, 0, 0.43);
}
/* line 537, ../sass/style.scss */
.portfolio .works .our_works__slider .slider_nav ul li {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
/* line 548, ../sass/style.scss */
.portfolio .works .our_works__slider .slider_nav button {
  background: none;
  border: none;
  margin: 0 28px;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  /* line 562, ../sass/style.scss */
  .portfolio .works .about_the_project {
    width: 41%;
    margin: 0 2% 0 8%;
  }
}
@media only screen and (max-width: 920px) {
  /* line 572, ../sass/style.scss */
  .portfolio .works {
    flex-direction: column;
  }
  /* line 574, ../sass/style.scss */
  .portfolio .works .about_the_project {
    width: 100%;
    margin: 0;
    padding: 0 4%;
  }
  /* line 580, ../sass/style.scss */
  .portfolio .works .our_works__slider {
    width: 68%;
    display: flex;
  }
}
@media only screen and (max-width: 574px) {
  /* line 591, ../sass/style.scss */
  .portfolio .works .about_the_project {
    width: 100%;
    padding: 0 4%;
    margin: 0;
  }
  /* line 597, ../sass/style.scss */
  .portfolio .works .our_works__slider {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  /* line 603, ../sass/style.scss */
  .portfolio .works .our_works__slider .imgs_slider {
    width: 100%;
  }
  /* line 607, ../sass/style.scss */
  .portfolio .works .our_works__slider .block_slid {
    width: 100%;
  }
}
/* line 615, ../sass/style.scss */
.reviews {
  max-width: 1440px;
  margin: 0 auto;
  background: url(../img/background_reviews.png) no-repeat center;
}
/* line 619, ../sass/style.scss */
.reviews .slider {
  width: 54%;
  padding: 37px 4%;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(26px);
  text-align: center;
  color: #fff;
}
/* line 627, ../sass/style.scss */
.reviews .slider .comments {
  margin-bottom: 75px;
}
/* line 629, ../sass/style.scss */
.reviews .slider .comments span {
  padding-top: 180px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
/* line 637, ../sass/style.scss */
.reviews .slider h2 {
  padding: 0 130px;
  margin: 8px 0 82px;
}
/* line 642, ../sass/style.scss */
.reviews .slider p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
}
/* line 652, ../sass/style.scss */
.reviews .slider .slider_buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  margin: auto;
}
/* line 658, ../sass/style.scss */
.reviews .slider .slider_buttons a {
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 60px;
  height: 72px;
  display: flex;
  color: #fff;
}
/* line 668, ../sass/style.scss */
.reviews .slider .slider_buttons a:hover {
  color: #FFB800;
}
/* line 673, ../sass/style.scss */
.reviews .slider .slider_buttons ul .tns-nav-active {
  background: #FF9900;
  width: 9px;
  height: 9px;
}
/* line 678, ../sass/style.scss */
.reviews .slider .slider_buttons ul li {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  float: left;
  margin: 0 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  /* line 694, ../sass/style.scss */
  .reviews .slider {
    width: 92%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 703, ../sass/style.scss */
  .reviews .slider h2 {
    padding: 0;
    margin: 8px 0 82px;
  }
}
@media only screen and (max-width: 574px) {
  /* line 713, ../sass/style.scss */
  .reviews .slider {
    padding: 10px 4%;
    margin: 0 auto;
  }
  /* line 716, ../sass/style.scss */
  .reviews .slider .comments {
    margin-bottom: 0;
    margin: 30px 0;
  }
  /* line 720, ../sass/style.scss */
  .reviews .slider h2 {
    padding: 0;
    margin: 8px 0 42px;
  }
  /* line 724, ../sass/style.scss */
  .reviews .slider .slider_buttons {
    display: none;
  }
}
/* line 731, ../sass/style.scss */
.contact_us {
  background: #FFB800;
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 0 52px;
  color: #FFFFFF;
}
/* line 737, ../sass/style.scss */
.contact_us .form {
  width: 50%;
  margin: auto;
}
/* line 740, ../sass/style.scss */
.contact_us .form h3 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
}
/* line 748, ../sass/style.scss */
.contact_us .form p {
  margin-bottom: 42px;
}
/* line 752, ../sass/style.scss */
.contact_us .form form .inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* line 756, ../sass/style.scss */
.contact_us .form form .inputs input {
  width: 45%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 7px;
  color: #fff;
}
/* line 766, ../sass/style.scss */
.contact_us .form form .textarea {
  padding: 7px;
  height: 31px;
  margin-top: 35px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
/* line 777, ../sass/style.scss */
.contact_us .form button {
  margin-top: 42px;
  padding: 10px 22px;
  background-color: #fff;
  border: none;
  color: #FF9900;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  /* line 790, ../sass/style.scss */
  .contact_us .form {
    width: 80%;
  }
}
@media only screen and (max-width: 574px) {
  /* line 797, ../sass/style.scss */
  .contact_us {
    text-align: center;
  }
  /* line 800, ../sass/style.scss */
  .contact_us .form p {
    margin-bottom: 0;
  }
  /* line 805, ../sass/style.scss */
  .contact_us .form form .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  /* line 810, ../sass/style.scss */
  .contact_us .form form .inputs input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 7px;
    color: #fff;
    margin-top: 35px;
  }
}
/* line 825, ../sass/style.scss */
footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
  padding: 114px 0 0;
}
/* line 830, ../sass/style.scss */
footer .footer_widgets {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 80px 0 160px;
}
/* line 835, ../sass/style.scss */
footer .footer_widgets .widget, footer .footer_widgets .description_widget, footer .footer_widgets .contact_us_widget {
  width: 25%;
  color: #fff;
}
/* line 839, ../sass/style.scss */
footer .footer_widgets .description_widget {
  padding-bottom: 13px;
}
/* line 841, ../sass/style.scss */
footer .footer_widgets .description_widget .logo {
  text-transform: uppercase;
  font-family: Gilroy;
  font-weight: 900;
  font-size: 24px;
  line-height: 80px;
  letter-spacing: 0.07em;
  color: #FF9900;
}
/* line 851, ../sass/style.scss */
footer .footer_widgets .description_widget .description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
}
/* line 862, ../sass/style.scss */
footer .footer__nav {
  padding-bottom: 13px;
}
/* line 865, ../sass/style.scss */
footer .footer__nav ul li {
  margin-top: 23px;
}
/* line 867, ../sass/style.scss */
footer .footer__nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 874, ../sass/style.scss */
footer .contact_us_widget {
  height: 95px;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 13px;
}
/* line 886, ../sass/style.scss */
footer .social_widget ul li {
  margin-top: 20px;
}
/* line 892, ../sass/style.scss */
footer .rights_protected {
  font-size: 14px;
  border-top: 1px solid;
  line-height: 16px;
  letter-spacing: 0.005em;
  color: rgba(255, 255, 255, 0.29);
  padding: 14px 0 16px;
  margin-top: 90px;
}

@media only screen and (max-width: 1024px) {
  /* line 904, ../sass/style.scss */
  footer .footer_widgets {
    margin: 0 4%;
  }
  /* line 906, ../sass/style.scss */
  footer .footer_widgets .widget, footer .footer_widgets .description_widget, footer .footer_widgets .contact_us_widget {
    width: 27%;
  }
}
@media only screen and (max-width: 750px) {
  /* line 914, ../sass/style.scss */
  footer {
    padding: 45px 0 0;
    text-align: center;
  }
  /* line 917, ../sass/style.scss */
  footer .footer_widgets {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: none;
  }
  /* line 921, ../sass/style.scss */
  footer .footer_widgets .widget, footer .footer_widgets .description_widget,
  footer .footer_widgets .contact_us_widget, footer .footer_widgets .social_widget {
    width: 40%;
  }
  /* line 925, ../sass/style.scss */
  footer .footer_widgets .contact_us_widget {
    display: flex;
    align-items: center;
  }
  /* line 930, ../sass/style.scss */
  footer .rights_protected {
    text-align: center;
  }
  /* line 932, ../sass/style.scss */
  footer .rights_protected p {
    width: 100%;
  }
}
@media only screen and (max-width: 574px) {
  /* line 940, ../sass/style.scss */
  footer {
    padding: 45px 0 0;
    text-align: center;
  }
  /* line 943, ../sass/style.scss */
  footer .footer_widgets {
    flex-direction: column;
    align-items: center;
  }
  /* line 947, ../sass/style.scss */
  footer .footer_widgets .social_widget ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  /* line 954, ../sass/style.scss */
  footer .footer_widgets .footer__nav {
    margin: 0px 0 20px;
  }
  /* line 958, ../sass/style.scss */
  footer .footer_widgets .widget, footer .footer_widgets .description_widget,
  footer .footer_widgets .contact_us_widget, footer .footer_widgets .social_widget {
    width: 70%;
  }
}
