$base-color: #FF9900;
$background-color: #FFB800;
$max-width: 1440px;
$max-content-width: 1280px;

@import "compass/reset";
@font-face {
  font-family: "Gilroy Bold";
  src: url(../fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

header {
  background: url(/img/background__header.png) no-repeat;
  max-width: $max-width;
  margin: 0 auto;
  .header__contacts {
    display: flex;
    align-items: center;
    height: 54px;
    background: rgba(0, 0, 0, 0.31);
    color: #FFF;
    margin: auto;
    .contacts_social {
      width: $max-content-width;
      display: flex;
      justify-content: flex-end;
      padding: 0 4%;
      margin: auto;
      .contacts {
        display: flex;
        justify-content: center;
        position: relative;
        width: 600px;
        .cellphones {
          display: flex;
          .cellphone {
            font-family: Gilroy;
            color: #FFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.015em;
            padding: 0 24px;
          }
        }

        .social {
          position: absolute;
          top: 5px;
          right: 0;
          ul {
            li {
              float: left;
              margin: 0 0 0 22px;
            }
          }
        }
      }
    }
  }
  .bloc_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-content-width;
    height: 80px;
    margin: auto;
    padding: 0 4%;
    .logo {
      a {
        font-family: "Gilroy Bold";
        font-weight: 900;
        font-size: 24px;
        color: $base-color;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    nav {
      width: 600px;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
          a {
            font-family: Gilroy;
            font-size: 18px;
            color: #FFF;
            text-decoration: none;
            letter-spacing: 0.07em;
          }

          a:hover {
            color: $base-color;
            border-bottom: 3px solid $base-color;
          }
        }
      }
    }

    button {
      font-family: Gilroy;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.015em;
      color: $base-color;
      background: none;
      border: 2px solid $base-color;
      box-sizing: border-box;
      padding: 8px 11px;
      cursor: pointer;
    }

    button:hover {
      border: 2px solid $base-color;
    }

    #mobile-menu {
      display: none;
    }
  }

  .header_container {
    max-width: $max-content-width;
    margin: auto;
    padding: 0 4%;
    .row {
      max-width: 715px;
      margin: auto;
    }
  }
  .content {
    margin-top: 136px;
    margin-bottom: 215px;
    h1 {
      font-family: "Playfair Display";
      font-size: 40px;
      line-height: 139.4%;
      letter-spacing: 0.2px;
      color: #FFFFFF;
    }

    p {
      font-family: Gilroy;
      font-size: 18px;
      line-height: 139.4%;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin: 29px 0 71px;
    }

    a.button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
  
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.015em;
      color: #FFFFFF;
      background: $base-color;
      border: none;
      padding: 11px;
    }
  }

  .our_perevagis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 169px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    padding: 0 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.46);
    .perevagi {
      width: 15%;
      position: relative;
      display: flex;
      align-items: center;
      p {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 20px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        width: 90%;
      }
      svg {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width:920px) {
  header {
    .header__contacts {
      display: none;
    }
    

    nav {
      display: none;
    }

    #order-a-call {
      display: none;
    }

    .bloc_nav {
      display: flex;
      background: #0000004a;
      justify-content: space-between;
      align-items: center;
      max-width: $max-content-width;
      height: 80px;
      margin: auto;
      padding: 0 4%;
      #mobile-menu {
        display: block;
        border: none;
        font-size: 35px;
        padding: 0;
      }
    }
    .our_perevagis {
      padding: 0 20px;
      .perevagi {
        width: 19%;
      }
    }
  }
}

@media only screen and (max-width: 769px)  {
  header {
    .content {
      margin-bottom: 218px;
    }
    .our_perevagis {
      flex-flow: column;
      padding: 30px 20px;
      background: black;
      height: auto;
      .perevagi {
        width: 70%;
        height: 120px;
      }
    }
  }
}

h4 {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: $base-color;
}

h2 {
  font-family: "Playfair Display";
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;

}

.about_us {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
  .blokc-left {
    width: 37%;
    background: url(/img/bsckground__about_us.png) no-repeat bottom right;
    block-size: 100%;
    height: 754px;
    position: relative;
    .experience {
      display: inline-block;
      background: $background-color;
      mix-blend-mode: normal;
      padding: 34px;
      position: absolute;
      right: 0;
      bottom: 0;
      .number_of_years {
        font-size: 55px;
        span {
          font-size: 70px;
          color: #FFF;
        }
      }
      span {
        font-size: 70px;
        color: #FFF;
      }

      p {
        font-size: 36px;
        color: #FFF;
      } 
    }
  }
  .blokc-right {
    width: 63%;
    background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
    padding: 148px 10% 0 187px;

    h2 {
      color: #000000;
      margin-bottom: 27px;
    }

    p {
      font-family: Gilroy;
      font-size: 18px;
      line-height: 139.4%;
      letter-spacing: 0.2px;
      color: #7C7C7C;
      margin-bottom: 1em;
    }
  }
}

@media only screen and (max-width: 1024px) {
    .about_us {
      .blokc-right {
      width: 63%;
      background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
      padding: 148px 10% 0;
    }
  }
}

@media only screen and (max-width: 769px)  {
  .about_us {
    flex-flow: column;
    .blokc-left{
      background-size: 100%;
      block-size: 100%;
      height: 210px;
      width: 100%;
      position: absolute;
      background: none;
    }
    .blokc-right {
      width: 80%;
      background: url(/img/bsckground__about_us_2.png) no-repeat right bottom;
      padding: 148px 10% 62px;
    }
  }
}

@media only screen and (max-width:574px)  {
  .about_us {
    .blokc-left {
      display: none;
    }

    .blokc-right {
      padding: 100px 10% 45px;
    }
  }
}

.stages_of_work {
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
  flex-flow: column;
  background: #000000;
  padding: 65px 0 126px;
  color: #ffffff;
  .conteiner {
    padding: 0 165px;
  }
  .stages_numbers {
    position: relative;
    display: flex;
    justify-content: space-between;
    .stage_line {
      border-bottom: 3px solid #fff;
      width: 91%;
      margin: 0 24px;
      position: absolute;
      top: 60px;
    }
    .stage {
      width: 160px;
      p {
        font-family: Gilroy;
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 1.5;
      }
    }
    .stage_number {
      width: 66px;
      height: 66px;
      margin-top: 95px;
      margin-bottom: 29px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      p {
        border-radius: 50%;
        border:20px solid transparent;
        text-align: center;
        width: 100%;
        font-family: "Playfair Display";
        font-size: 40px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
      }
    }
  }
}
@media only screen and (max-width:1024px) {
  .stages_of_work {
    .conteiner {
      padding: 0px 10px;
    }
  }
}

@media only screen and (max-width:750px) {
  .stages_of_work {
    padding: 65px 4% 76px;
    .conteiner {
      padding: 0;
    }
    h4, h2 {
      text-align: center;
    }
    .stages_numbers {
      flex-flow: column;
      margin-top: 40px;
      .stage_line {
        border-bottom: 3px solid #fff;
        width: 3px;
        margin: 0 24px;
        background-color: white;
        height: 80%;
        position: absolute;
        top: 60px;
        left: 35px;
      }
      .stage {
        display: flex;
        align-items: center;
        width: 100%;
        p {
          font-size: 18px;
          max-width: 175px;
        }
      }
    }
  }
}

.portfolio {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 100px;
  background: url(/img/background__portfolio.png) no-repeat 260px  bottom ;
  h4, h2 {
    text-align: center;
  }

  .works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    .about_the_project {
      width: 41%;
      margin: 0 20px 0 150px;
      h5 {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 24px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
        color: #000000;
      }

      p {
        font-family: Gilroy;
        font-size: 18px;
        line-height: 139.4%;
        letter-spacing: 0.2px;
        color: #000000;
        margin-top: 14px;
        span {
          font-weight: 700;
        }
        sup {
          font-size: 12px;
          vertical-align: super;
        }
      }
    }

    .our_works__slider {
      width: 48%;
      display: flex;
      .imgs_slider {
        margin-right: 3px;
        width: 102px;
      }

      .block_slid {
        display: flex;
        flex-flow: column;
        width: 865px;
        float: right;
        .img_slider {
          img {
            width: 100%;
          }
        }
      }
      
      .slider_nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: $background-color;
        height: 94px;
        ul {
          .tns-nav-active {
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(255, 153, 0, 0.43);
          }
          li {
            width: 6px;
            height: 6px;
            background: rgba(255, 255, 255, 0.45);
            border-radius: 50%;
            float: left;
            margin: 0 10px;
            cursor: pointer;
          }
        }
    
        button {
          background: none;
          border: none;
          margin: 0 28px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .portfolio {
    .works {
      .about_the_project {
        width: 41%;
        margin: 0 2% 0 8%;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .portfolio {
    .works {
      flex-direction: column;
      .about_the_project {
        width: 92%;
        margin: 0;
        padding: 0 4%;
      }

      .our_works__slider {
        width: 68%;
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  .portfolio {
    .works {
      .about_the_project {
        width: 92%;
        padding: 0 4%;
        margin: 0;
      }

      .our_works__slider {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        .imgs_slider {
          width: 100%;
        }

        .block_slid {
          width: 100%;
        }
      }
    }
  }
}

.reviews {
  max-width: $max-width;
  margin: 0 auto;
  background:url(../img/background_reviews.png) no-repeat center;
  .slider {
    width: 54%;
    padding: 37px 4%;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(26px);
    text-align: center;
    color: #fff;
    .comments {
      margin-bottom: 75px;
      span {
        font-family: Gilroy;
        padding-top: 180px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
      }
    }
    h2 {
      padding: 0 130px;
      margin: 8px 0 82px;
    }

    p {
      font-family: Gilroy;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.01em;
    }

    .slider_buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 180px;
      margin: auto;
      a {
        cursor: pointer;
        text-decoration: none;
        background: none;
        border: none;
        font-size: 60px;
        height: 72px;
        display: flex;
        color: #fff;
      }
      a:hover {
        color: $base-color;
      }
      
      ul {
        .tns-nav-active {
          background: $base-color;
          width: 9px;
          height: 9px;
        }
        li {
          width: 6px;
          height: 6px;
          background: rgba(255, 255, 255, 0.45);
          border-radius: 50%;
          float: left;
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .reviews {
    .slider {
      width: 92%;
    }
  }
}

@media only screen and (max-width:750px) {
  .reviews {
    .slider {
      h2 {
        padding: 0;
        margin: 8px 0 82px;
      }
    }
  }
}

@media only screen and (max-width:574px)  {
  .reviews {
    .slider {
      padding: 10px 4%;
      margin: 0 auto;
      .comments {
        margin-bottom: 0;
        margin: 30px 0;
      }

      h2 {
        padding: 0;
        margin: 8px 0 42px;
      }

      .slider_buttons {
        display: none;
      }
    }
  }
}

#contact-us {
  background: $background-color;
  max-width: $max-width;
  margin: 0 auto;
  padding: 45px 0 52px;
  color: #FFFFFF;
  .form {
    width: 50%;
    margin: auto;
    h3 {
      font-family: "Playfair Display";
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 42px;
    }

    form {
      .inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        input {
          width: 45%;
          background: none;
          border: none;
          border-bottom: 1px solid #fff;
          padding: 7px;
          color: #fff;
        }
      }

      .textarea {
        padding: 7px;
        height: 31px;
        margin-top: 35px;
        width: 100%;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
      }
    }

    button {
      margin-top: 42px;
      padding: 10px 22px;
      background-color: #fff;
      border: none;
      color: $base-color;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width:750px) {
  #contact-us {
    .form {
      width: 80%;
    }
  }
}

@media only screen and (max-width:574px) {
  #contact-us{
    text-align: center;
    .form {
      p {
        margin-bottom: 0;
      }

      form {
        .inputs {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid #fff;
            padding: 7px;
            color: #fff;
            margin-top: 35px;
          }
        }
      }
    }
  }
}

footer {
  max-width: $max-width;
  margin: 0 auto;
  background-color: #000;
  padding: 114px 0 0;
  .footer_widgets {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 80px 0 160px;
    .widget, .description_widget, .contact_us_widget {
      width: 25%;
      color: #fff;
    }
    .description_widget {
      padding-bottom: 13px;
      .logo {
        text-transform: uppercase;
        font-family: "Gilroy Bold";
        font-weight: 900;
        font-size: 24px;
        line-height: 80px;
        letter-spacing: 0.07em;
        color: $base-color;
      }
      
      .description {
        font-family: Gilroy;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.7px;
        color: #FFFFFF;
      }
    }
  }

  .footer__nav {
    padding-bottom: 13px;
    ul {
      li {
        margin-top: 23px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .contact_us_widget {
    height: 95px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 13px;
    .ua {
      font-family: "Gilroy Bold";
    }
  }

  .social_widget {
    ul {
      li {
        margin-top: 20px;
      }
    }
  }

  .rights_protected {
    font-size: 14px;
    border-top: 1px solid;
    line-height: 16px;
    letter-spacing: 0.005em;
    color: rgba(255, 255, 255, 0.29);
    padding: 14px 0 16px;
    margin-top: 90px;
    .container {
      width: $max-content-width;
      margin: 0 0px 0 160px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  footer {
    .footer_widgets {
      margin: 0 4%;
      .widget, .description_widget, .contact_us_widget {
        width: 27%;
      }
    }
    .rights_protected {
      text-align: center;
      p {
        width: 100%;
      }
      .container {
        width: 92%;
        padding: 0 4%;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width:750px) {
  footer {
    padding: 45px 0 0;
    text-align: center;
    .footer_widgets {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: none;
      .widget, .description_widget, 
      .contact_us_widget, .social_widget {
        width: 40%;
      }
      .contact_us_widget {
        display: flex;
        align-items: center;
      }
    }
    .rights_protected {
      text-align: center;
      p {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width:574px) {
  footer {
    padding: 45px 0 0;
    text-align: center;
    .footer_widgets {
      flex-direction: column;
      align-items: center;
      .social_widget {
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
        }
      }

      .footer__nav {
        margin: 0px 0 20px;
      }

      .widget, .description_widget, 
      .contact_us_widget, .social_widget {
        width: 70%;
      }
    }
    .rights_protected {
      margin-top: 40px;
    }
  }
}